.summary{
    margin:12px;
    margin-bottom: 30px;
    overflow: hidden;
    &-info{
        &__left{
            margin-right: 100px;
             .title{
                margin: 10px 0;
                &-commentary{
                    display: inline-block;
                    margin-left: 4px;
                    color: #aaa;
                    font-size: 14px;
                }
            }
            >p {
                line-height: 1.4;
                padding-right: 10px;
                text-align: justify;
            }
        }
        &__right{
            float: right;
            >img{
                display: block;
                width: 100px;
                background: #aaa;
            }
        }
    }
}